---
layout: archive
title: "Projects, Ventures and Awards"
permalink: /publications/
author_profile: true
---

<p>
My first venture goes back to the time <span style="background-color: yellow; color: black; padding: 2px 4px; border-radius: 4px;">when I was 16 years old</span>, when I worked on the project <span style="background-color: yellow; color: black; padding: 2px 4px; border-radius: 4px;">“Making metal balls using terminal velocity “Fall in the liquid”</span>. My paper at that age was accepted and 
<span style="background-color: yellow; color: black; padding: 2px 4px; border-radius: 4px;">published at 16th physics conference of Iranian students at Chamran University of Kerman</span>, and I received <span style="background-color: yellow; color: black; padding: 2px 4px; border-radius: 4px;">the best paper award Issued by 9th School Network Conference.</span>


<br><br>At that time I was also <span style="background-color: yellow; color: black; padding: 2px 4px; border-radius: 4px;">qualified for National Math Olympiad among all students in Tehran, Iran.</span>

<br><br>All these put a passion inside me for science and innovation.
That was when I got to know about biomedical engineering and the opportunity to <span style="background-color: yellow; color: black; padding: 2px 4px; border-radius: 4px;">invent new technologies in healthcare</span>. I believe technology can save lives.
<br><br>That is why I chose Biomedical Engineering – Bioelectric as my bachelor's major, and I graduated <span style="background-color: yellow; color: black; padding: 2px 4px; border-radius: 4px;">ranked 3rd out of 61 students in the faculty.</span>

<br><br>I could say <span style="background-color: yellow; color: black; padding: 2px 4px; border-radius: 4px;">my next venture was immigration</span> from Iran to Germany in my early twenties. I wanted to work with state-of-the-art technologies and have the opportunities beyond where I was born to reach my goals and full potentials.

<br><br>During my master I got the passion for <span style="background-color: yellow; color: black; padding: 2px 4px; border-radius: 4px;">AI in diagnosis in medicine</span> and I did multiple research assistances and internships in the field. One of my best projects is <span style="background-color: yellow; color: black; padding: 2px 4px; border-radius: 4px;">My master’s thesis, where I applied deep learning techniques to improve the segmentation of brain structures for the diagnosis of Alzheimer’s and Parkinson’s diseases.</span> The full text of my Master’s thesis is available at the following link: <a href="assets/projects/Tayebeh_Bahador_master_thesis.pdf" style="display: inline-block; vertical-align: middle;">
  <img src="https://img.shields.io/badge/Click%20Here-black?style=flat&logoColor=white&color=black" alt="Click Here">

<br><br>In another project I developed and implemented <span style="background-color: yellow; color: black; padding: 2px 4px; border-radius: 4px;">self-supervised learning and transfer learning</span> techniques to reduce the need for large labeled datasets in computer vision applications, especially in domains like medical imaging. In this project, I achieved 85% accuracy with only 2,000 labeled images (vs. 90% with 50,000 labeled images in classical supervised learning).

<span style="background-color: yellow; color: black; padding: 2px 4px; border-radius: 4px;">My venture during my Master</span> was during a course called “Solution Design In Medical Engineering”, where my teammates and I received both the <span style="background-color: yellow; color: black; padding: 2px 4px; border-radius: 4px;">“best design award” and “best team award”</span>. In this Project <span style="background-color: yellow; color: black; padding: 2px 4px; border-radius: 4px;">we developed a smart walking aid for people with vision problem</span>, in which if the distance is less than 20 cm vibrator alarms the person. You could read more about the product in the following link: <a href="https://onurgulkokan6.wixsite.com/canebox" style="display: inline-block; vertical-align: middle;">
  <img src="https://img.shields.io/badge/Click%20Here-black?style=flat&logoColor=white&color=black" alt="Click Here">
</a>

<br><br>Back in 2018, the market did not have such a solution. 
Currently, with all the experience I have from computer vision and working as a software engineer for four years, <span style="background-color: yellow; color: black; padding: 2px 4px; border-radius: 4px;">currently I am developing a prototype of the walking aid using computer vision and AI.</span>
</p>

<!--
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}-->

<!-- New style rendering if publication categories are defined -->
<!--
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

-->

