---
layout: archive
title: "Tech Decoded and Innovate Hamburg"
permalink: /talks/
author_profile: true
---
<!--
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->


<p> I am a speaker and a content creator at Innovate Hamburg.

<br>INNOVATE (Iranian Network of Visionaries And Technology Entrepreneurs) is a global decentralized non-profit organization hosting tech-oriented events. Entrepreneurs, venture capitalists, mentors, and startup-related businesses unite to exchange insights. This initiative fosters collaboration between Iranian tech professionals and North American companies, forging valuable connections in the tech industry.
The main organization is INNOVATE Decentral, which has different branches in various parts of the world, and Innovate Hamburg is one of them, covering the north of Germany. 

<br>In this community, we engage in interactive discussions, learn about cutting-edge technologies, and make meaningful connections that fuel our entrepreneurial journey.

<br>Moreover, my YouTube channel and Instagram account are another venture of mine, where I share my insights and showcase new technologies worldwide. My audience ranges from the USA to Germany to Iran. These accounts are beneficial for anyone in the field, for instance, employees who don’t have enough time to attend fairs, live far away, or have other reasons that prevent them from attending.

<br>Additionally, they provide insights to students searching for opportunities in the field, as I share information about the companies featured so anyone can contact them. This is especially beneficial for underserved audiences, particularly those from the Middle East.
I also write about this content on my LinkedIn account.
One of the main features of my accounts is that the content is in three languages that I am fluent in: English, German, and Persian. One of my goals is to launch multilingual tech shows.

<br>I share this content in Innovate Hamburg to reach a wider audience, and I also give talks in this community about tech and AI, sharing my experiences with others, including students and young professionals shaping their paths.

<br>My social media activities teach me how to build connections both in person and digitally. They help me develop soft skills. Having both business and technical knowledge can support me in my startup journey. Moreover, my social media activity gives me connections across the world that I can use in my business later. In order to build a strong team, I need to know strong people from different fields.

<br>Last but not least, I share some of the insights I have learned through the Entrepreneurship course from Wharton Online University and my personal readings on my Medium account.

<br>All in all, in the technical realm when we talk about technology entrepreneurship, it can be unique to have both commercial as well as technical expertise, the skills I have been trying to build up. 

<br>Herewith, I would like to share with you the impression I had on social media in less than three months: 
</p>

<div style="display: flex; gap: 20px; justify-content: center; flex-wrap: wrap;">

  <figure style="text-align: center;">
    <img src="/images/Instagram_impressions.jpg" alt="Image 1" width="300" style="border-radius: 6px;">
    <figcaption style="margin-top: 8px; font-size: 0.85em; color: #white;">Instagram impression.</figcaption>
  </figure>

  <figure style="text-align: center;">
    <img src="/images/Youtube_impressions.jpg" alt="Image 2" width="300" style="border-radius: 6px;">
    <figcaption style="margin-top: 8px; font-size: 0.85em; color: #white;">Youtube impressions.</figcaption>
  </figure>

  <figure style="text-align: center;">
    <img src="/images/Linkedin_impressions.PNG" alt="Image 2" width="250" style="border-radius: 6px;">
    <figcaption style="margin-top: 8px; font-size: 0.85em; color: #white;">Linkedin impressions.</figcaption>
  </figure>

  <figure style="text-align: center;">
    <img src="/images/Medium_impressions.jpg" alt="Image 2" width="250" style="border-radius: 6px;">
    <figcaption style="margin-top: 8px; font-size: 0.85em; color: #white;">Medium impressions.</figcaption>
  </figure>

</div>
