---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---
Here is my certificates 



I’ve also just received my Entrepreneurship Certificate from Wharton Online. Please check it out here:  
[![Wharton Online](https://img.shields.io/badge/Wharton%20Online-Certificate-blue)](https://coursera.org/share/8d6b86aca007ac7cb6ccdbeecf229b05)



{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
